<%- include('partials/main_header.ejs') %>

  <div class="container-fluid container__main">
    <h1>404 - Pagina niet gevonden</h1>
    <p><a href="/">Ga terug naar homepage</a></p>
  </div>

<%- include('partials/main_footer.ejs') %>
