<%- include('partials/main_header.ejs') %>

  <div class="container-fluid container__main">

    <h1>Duurzame Stemwijzer</h1>
    <a class="btn btn-primary" href="/start">Start hier</a>

  </div>

<%- include('partials/main_footer.ejs') %>
