<%- include('partials/main_header.ejs') %>

<div class="startpagina">
  <div class="container container__main">

    <img class="startpagina__logo" src="dist/images/leafs_startpagina.svg" alt="Illustratie van twee bladeren aan takjes" />
    <h1 class="startpagina__titel">De duurzame stemwijzer 2017</h1>

    <p class="startpagina__subtitle align_text">Start de test en zie binnen enkele minuten welke partij de beste match is op het gebied van duurzaamheid</p>

    <a class="startpagina__btn" href="/start" title="Start de stemwijzer">Start de Stemwijzer</a>

  </div>
</div>

<%- include('partials/main_footer.ejs') %>
