<%- include('../partials/main_header.ejs') %>

<<<<<<< HEAD
<div class="uitleg">
  <div class="container container__main">

    <img id="uitleg_image" class="uitleg__example_image" src="dist/images/scherm_example_1.svg" alt="Uitleg stap 1"/>
    <p id="uitleg_text" class="uitleg__text">De stemwijzer is verdeeld over drie onderwerpen. Bij elk onderwerp krijgt u eerst een korte video te zien die het onderwerp toelicht.</p>

    <a id="example_btn" class="uitleg__btn" href="#" onclick="setExample()" title="Bekijk de uitleg">Ga verder</a>
    <a id="example_btn_start" class="uitleg__btn" href="/start/stap-1" title="Start de stemwijzer">Starten</a>
=======
<div class="start">
  <div class="container container__main">

    <h1>Start</h1>
    <a href="/">Ga terug</a>
>>>>>>> master

  </div>
</div>

<%- include('../partials/main_footer.ejs') %>
