<%- include('../partials/main_header.ejs') %>
<div id="transport_introductie" class="transport_intro">

  <h1 class="smallTitle">Onderwerp 2</h1>
  <h2 class="bigTitle">TRANSPORT</h2>

  <img class="transportIcon" src="../dist/images/transport_icon.svg" alt="Icon van een bliksemschicht"/><br /><br /><br /><br /><br /><br />

  <a class="btn_transport" href="#" onclick="stapThreeScreen()" title="Start video">Start video</a>

</div>

<div id="list_two" class="list list__two">

  <div class="container container__header">
    <h1 class="list-1__headerText">Transport</h1>
  </div>

  <div id="list_statement" class="container container__main">

    <p class="explanationText">Verander de volgorde van deze prioriteitenlijst door de stellingen te verslepen.</p>

    <ol id="transport_items">
      <li class="list-item">Uitbreiden van vliegvelden</li>
      <li class="list-item">Verbreden van snelwegen</li>
      <li class="list-item">Verbeteren openbaar vervoer</li>
      <li class="list-item">Goedkoper openbaar vervoer</li>
    </ol><br /><br />

    <a class="list_btn_next" href="/start/list-3" title="Ga door">Ga door</a>

  </div>
</div>

<%- include('../partials/main_footer.ejs') %>
