<%- include('../partials/main_header.ejs') %>

<div class="list list__one">

  <div class="container container__header">
    <h1 class="list-1__headerText">Stellingen</h1>
  </div>

  <div id="list_statement" class="container container__main">

    <p class="explanationText">Verander de volgorde van deze prioriteitenlijst door de stellingen te verslepen.</p>

    <ol id="energy_items">
      <li class="list-item">Minder belasting voor mensen die groen leven</li>
      <li class="list-item">Beperken van CO2 uitstoot</li>
      <li class="list-item">Meer windmolens</li>
      <li class="list-item">Investeren in duurzame energie</li>
    </ol><br /><br />

    <a class="list_btn_next" href="/start/list-1" title="Ga door">Ga door</a>

  </div>
</div>

<%- include('../partials/main_footer.ejs') %>
