<%- include('../partials/main_header.ejs') %>

<div class="list list__three">

  <div class="container container__header">
    <h1 class="list-1__headerText">Natuur</h1>
  </div>

  <div id="list_statement" class="container container__main">

    <p class="explanationText">Verander de volgorde van deze prioriteitenlijst door de stellingen te verslepen.</p>

    <ol id="nature_items">
      <li class="list-item">Geen kerncentrales meer</li>
      <li class="list-item">Beter beveiligen van kerncentrales</li>
      <li class="list-item">Creëeren en beschermen van natuurgebieden</li>
      <li class="list-item">Verlagen van gaswinning uit Groningen</li>
    </ol><br /><br />

    <a class="list_btn_next" onClick="getScore()" title="Ga door">Ga door</a>

  </div>
</div>

<%- include('../partials/main_footer.ejs') %>
