<%- include('../partials/main_header.ejs') %>
<div id="natuur_introductie" class="natuur_intro">

  <h1 class="smallTitle">Onderwerp 2</h1>
  <h2 class="bigTitle">TRANSPORT</h2>

  <img class="natuurIcon" src="../dist/images/natuur_icon.svg" alt="Icon "/><br /><br /><br /><br /><br /><br />

  <a class="btn_natuur" onclick="stapFourScreen()" title="Start video">Start video</a>

</div>

<div id="stap-4a2" class="container container__main">

  <h1>Draai je scherm om voor de beste kijkervaring</h1>

  <img class="phoneOnSide" src="../dist/images/mobile_side.png" alt="Draai je scherm" />
  <br /><br /><a class="stap-2__btn_energy" onclick="stapFour2Screen()" title="Start video">Ok</a>

</div>
<div id="stap-4b" class="container container__main">

  <br />
  <iframe src="https://player.vimeo.com/video/200963934" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  <br/></br/><br /><br /><br />
  <a class="stap-2__btn_energy" onclick="stapFour3Screen()" title="Ga door">Ga door</a>

</div>

<div id="list_three" class="list list__three">

  <div class="container container__header">
    <h1 class="list-1__headerText">Natuur</h1>
  </div>

  <div id="list_statement" class="container container__main">

    <p class="explanationText">Verander de volgorde van deze prioriteitenlijst door de stellingen te verslepen.</p>

    <ol id="nature_items">
      <li class="list-item">Geen kerncentrales meer</li>
      <li class="list-item">Beter beveiligen van kerncentrales</li>
      <li class="list-item">Creëeren en beschermen van natuurgebieden</li>
      <li class="list-item">Verlagen van gaswinning uit Groningen</li>
    </ol><br /><br />

    <a class="list_btn_next" href="/start/list-4" title="Ga door">Ga door</a>

  </div>
</div>

<%- include('../partials/main_footer.ejs') %>
