<%- include('../partials/main_header.ejs') %>

<div class="list list__one">

  <div class="container container__header">
    <h1 class="list-1__headerText">Stellingen</h1>
  </div>

  <div id="list_statement" class="container container__main">

    <ol id="items">
      <li>item 1</li>
      <li>item 2</li>
      <li>item 3</li>
    </ol>

  </div>
</div>

<%- include('../partials/main_footer.ejs') %>
