<%- include('../partials/main_header.ejs') %>

<div class="stap-2">
  <div id="stap-2a" class="container container__main">

    <h1 class="stap-2__smallTitle">Onderwerp 1</h1>
    <h2 class="stap-2__bigTitle">ENERGIE</h2>

    <img class="stap-2__icon" src="../dist/images/energy_icon.svg" alt="Icon van een bliksemschicht"/><br /><br /><br /><br /><br />

    <a class="stap-2__btn_energy" onclick="stapTwo2Screen()" title="Start video">Start video</a>

  </div>
  <div id="stap-2a2" class="container container__main">

    <h1>Draai je scherm om voor de beste kijkervaring</h1>

    <img class="phoneOnSide" src="../dist/images/mobile_side.png" alt="Draai je scherm" />
    <br /><br /><a class="stap-2__btn_energy" onclick="stapTwoScreen()" title="Start video">Ok</a>

  </div>
  <div id="stap-2b" class="container container__main">

    <br />
    <iframe src="https://player.vimeo.com/video/200963934" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    <br/></br/><br /><br /><br />
    <a class="stap-2__btn_energy" href="/start/list-1" title="Ga door">Ga door</a>

  </div>
</div>

<%- include('../partials/main_footer.ejs') %>
