<%- include('../partials/main_header.ejs') %>

<div class="stap-2">
  <div class="container container__main">

    <h1 class="stap-2__smallTitle">Onderwerp 1</h1>
    <h2 class="stap-2__bigTitle">ENERGIE</h2>

    <img class="stap-2__icon" src="../dist/images/energy_icon.svg" alt="Icon van een bliksemschicht"/><br /><br /><br /><br /><br />

    <a class="stap-2__btn_energy" href="#" onclick="stapOneScreen()" title="Start video">Start video</a>

  </div>
</div>

<%- include('../partials/main_footer.ejs') %>
