<%- include('../partials/main_header.ejs') %>

<div class="stap-1">
  <div class="container container__header">
    <h1 class="stap-1__headerText">Politieke voorkeur</h1>
  </div>
  <div class="container container__main">

    <img class="stap-1__icon" src="../dist/images/icon_question_green.svg" alt="Icon van een vraagteken"/>

    <p class="stap-1__subText">Als je al een voorkeur hebt voor een politieke partij, klik dan op 'Ja, ik heb al een voorkeur'. Je krijgt dan na het invullen van de stemwijzer te zien hoe goed deze partij bij jou past.</p>

    <a class="stap-1__btn_green" href="#" title="Ik heb een politieke voorkeur">Ja, ik heb al een voorkeur</a><br /><br /><br /><br />
    <a class="stap-1__btn_red" href="#" title="Ik heb een politieke voorkeur">Nee, ik heb geen voorkeur</a>

  </div>
</div>

<%- include('../partials/main_footer.ejs') %>
