<%- include('../partials/main_header.ejs') %>

  <div id="photo1">
   <img onclick="showPhoto()" width="390px" class="fullscreen-ps" src="../../dist/images/fb.jpg" />
  </div>

  <div id="photo2">
    <a href="/result/"><img width="390px" class="fullscreen-ps" src="../../dist/images/test.jpg" /></a>
  </div>

<%- include('../partials/main_footer.ejs') %>
