<%- include('../partials/main_header.ejs') %>

<div class="resultpage">
  <div class="container container__main">

    <h1>Jouw matches</h1>

    <div class="well bg_white"><span id="partij1Text"></span><span class="percentage" id="partij1Percentage"></span></div>
    <div class="well bg_white"><span id="partij2Text"></span><span class="percentage" id="partij2Percentage"></span></div>
    <div class="well bg_white"><span id="partij3Text"></span><span class="percentage" id="partij3Percentage"></span></div>
    <div class="well bg_grey"><span id="partijVoorkeurText"></span><span class="percentage" id="partijVoorkeurPercentage"></span></div>

  </div>
</div>

<%- include('../partials/main_footer.ejs') %>
