<%- include('../partials/main_header.ejs') %>

<div class="startpagina">
  <div class="container container__main">

    <p class="m-t-2"><strong>Voorkeur: </strong><span id="voorkeurText"></span></p>
    <p><strong>Beste match: </strong><span id="partij1Text"></span></p>

  </div>
</div>

<%- include('../partials/main_footer.ejs') %>
