<%- include('../partials/main_header.ejs') %>

<div class="startpagina">
  <div class="container container__main">

    <p class="m-t-2"><strong>Voorkeur: </strong><span id="voorkeurText"></span></p>
    <p><strong>Beste match: </strong><span id="partij1Text"></span></p>
    <p><strong>Tweede match: </strong><span id="partij2Text"></span></p>
    <p><strong>Derde match: </strong><span id="partij3Text"></span></p>

    <div id="scoreElement">

    </div>

  </div>
</div>

<%- include('../partials/main_footer.ejs') %>
