.list__one {
    counter-reset: item;

    .container {
        &__header {
            background-color: $bg_energie;
            color: white;
            padding-bottom: 1em;
            width: 100%;
            text-align: center;
        }

        &__main {
            text-align: center;

            .explanationText {
                font-size: 1.2em;
                margin-top: 1em;
            }

            .list_btn_next {
                background-color: $bg_energie;
                color: white;
                text-decoration: none;
                padding: 0.75em 1em;
                width: 90%;
                font-size: $font-default_btn_size;
                border-radius: 1.5em;
                border: 2px solid white;

                &:hover {
                    text-decoration: none;
                    color: $text_green;
                }
            }

            ol {
                width: 100%;
                padding-left: 0;
                margin-top: 2em;
                list-style: none;

                .list-item {
                    counter-increment: item;
                    text-align: left;
                    font-size: 1.5em;
                    font-weight: 800;
                    background-color: lighten($bg_energie, 20%);
                    padding: 1em;
                    margin-bottom: 0.5em;

                    &:before {
                        content: counter(item)".";
                        margin-right: 0.5em;
                    }
                }
            }
        }
    }
}

.transport_intro {
    background-color: $bg_red;
    text-align: center;
    height: 670px;
    padding-top: 2.5em;

    .smallTitle {
        color: white;
        font-size: 2.25em;
        margin-top: 0;
    }

    .bigTitle {
        font-size: 3em;
        color: white;
        margin-top: 0;
    }

    .transportIcon {
        width: 17em;
        margin-top: 4em;
    }

    .btn_transport {
        background-color: #d84e48;
        color: white;
        text-align: center;
        text-decoration: none;
        padding: 0.75em 1em;
        width: 90%;
        font-size: $font-default_btn_size;
        border-radius: 1.5em;
        border: 2px solid white;

        &:hover {
            text-decoration: none;
            color: white;
        }
    }
}

.natuur_intro {
    background-color: $text_green;
    text-align: center;
    height: 700px;
    padding-top: 2.5em;

    .smallTitle {
        color: white;
        font-size: 2.25em;
        margin-top: 0;
    }

    .bigTitle {
        font-size: 3em;
        color: white;
        margin-top: 0;
    }

    .natuurIcon {
        width: 17em;
        margin-top: 4em;
    }

    .btn_natuur {
        background-color: #68B054;
        color: white;
        text-align: center;
        text-decoration: none;
        padding: 0.75em 1em;
        width: 90%;
        font-size: $font-default_btn_size;
        border-radius: 1.5em;
        border: 2px solid white;

        &:hover {
            text-decoration: none;
            color: white;
        }
    }
}

.list__two {
    display: none;
    counter-reset: item;

    .container {
        &__header {
            background-color: $bg_red;
            color: white;
            padding-bottom: 1em;
            width: 100%;
            text-align: center;
        }

        &__main {
            text-align: center;

            .explanationText {
                font-size: 1.2em;
                margin-top: 1em;
            }

            .list_btn_next {
                background-color: $bg_red;
                color: white;
                text-decoration: none;
                padding: 0.75em 1em;
                width: 90%;
                font-size: $font-default_btn_size;
                border-radius: 1.5em;
                border: 2px solid white;

                &:hover {
                    text-decoration: none;
                    color: $text_green;
                }
            }

            ol {
                width: 100%;
                padding-left: 0;
                margin-top: 2em;
                list-style: none;

                .list-item {
                    counter-increment: item;
                    text-align: left;
                    font-size: 1.5em;
                    font-weight: 800;
                    background-color: lighten($bg_red, 20%);
                    padding: 1em;
                    margin-bottom: 0.5em;

                    &:before {
                        content: counter(item)".";
                        margin-right: 0.5em;
                    }
                }
            }
        }
    }
}

.list__three {
    counter-reset: item;
    display: none;

    .container {
        &__header {
            background-color: $text_green;
            color: white;
            padding-bottom: 1em;
            width: 100%;
            text-align: center;
        }

        &__main {
            text-align: center;

            .explanationText {
                font-size: 1.2em;
                margin-top: 1em;
            }

            .list_btn_next {
                background-color: $text_green;
                color: white;
                text-decoration: none;
                padding: 0.75em 1em;
                width: 90%;
                font-size: $font-default_btn_size;
                border-radius: 1.5em;
                border: 2px solid white;

                &:hover {
                    text-decoration: none;
                    color: $text_green;
                }
            }

            ol {
                width: 100%;
                padding-left: 0;
                margin-top: 2em;
                list-style: none;

                .list-item {
                    counter-increment: item;
                    text-align: left;
                    font-size: 1.5em;
                    font-weight: 800;
                    background-color: lighten($text_green, 20%);
                    padding: 1em;
                    margin-bottom: 0.5em;

                    &:before {
                        content: counter(item)".";
                        margin-right: 0.5em;
                    }
                }
            }
        }
    }
}

.list__four {
    counter-reset: item;

    .container {
        &__header {
            background-color: $bg_primary;
            color: white;
            padding-bottom: 1em;
            width: 100%;
            text-align: center;
        }

        &__main {
            text-align: center;

            .explanationText {
                font-size: 1.2em;
                margin-top: 1em;
            }

            .list_btn_next {
                background-color: $bg_primary;
                color: white;
                text-decoration: none;
                padding: 0.75em 1em;
                width: 90%;
                font-size: $font-default_btn_size;
                border-radius: 1.5em;
                border: 2px solid white;

                &:hover {
                    text-decoration: none;
                    color: white;
                }
            }

            ol {
                width: 100%;
                padding-left: 0;
                margin-top: 2em;
                list-style: none;

                .list-item {
                    counter-increment: item;
                    text-align: left;
                    font-size: 1.5em;
                    font-weight: 800;
                    background-color: lighten($bg_primary, 20%);
                    padding: 1em;
                    margin-bottom: 0.5em;

                    &:before {
                        content: counter(item)".";
                        margin-right: 0.5em;
                    }
                }
            }
        }
    }
}
.active_list-item_energy {
  width: 92%!important;
  height: auto!important;
  padding: 1em!important;
  background-color: darken($bg_energie, 15%)!important;
  color: white!important;

  &:before {
    content: "?"!important;
  }
}

.active_list-item_transport {
  width: 92%!important;
  height: auto!important;
  padding: 1em!important;
  background-color: darken($bg_red, 15%)!important;
  color: white!important;

  &:before {
    content: "?"!important;
  }
}

.active_list-item_nature {
  width: 92%!important;
  height: auto!important;
  padding: 1em!important;
  background-color: darken($text_green, 15%)!important;
  color: white!important;

  &:before {
    content: "?"!important;
  }
}

.active_list-item_categories {
  width: 92%!important;
  height: auto!important;
  padding: 1em!important;
  background-color: darken($bg_primary, 15%)!important;
  color: white!important;

  &:before {
    content: "?"!important;
  }
}

.percentage {
  position: relative;
  top: .25em;
  left: 1em;
  font-size: 3.5em;
  color: green;
}
