.stap-1 {
    &__headerText {

    }
    &__subText {
      font-size: 1.3em;
      margin: 1.25em 0 3.5em 0;
    }
    &__icon {
      width: 9em;
      margin-top: 2em;
      margin-bottom: 1em;
    }
    &__partij_logo {
      width: 95%;
      text-align: center;
    }
    &__btn_green {
        background-color: $bg_btn_default;
        color: white;
        text-align: center;
        text-decoration: none;
        padding: .75em 1em;
        width: 90%;
        font-size: $font-default_btn_size;
        border-radius: 1.5em;
        border: 2px solid white;

        &:hover {
          text-decoration: none;
          color: $text_green;
        }
    }
    &__btn_red {
        background-color: $bg_red;
        color: white;
        text-align: center;
        text-decoration: none;
        padding: .75em 1em;
        width: 90%;
        font-size: $font-default_btn_size;
        border-radius: 1.5em;
        border: 2px solid white;

        &:hover {
          text-decoration: none;
          color: $text_green;
        }
    }
    .partij_holder {
      border: 1px grey solid;
      padding: 1em;
      min-height: 121px;
      background-color: white;
    }
    .m-t-center {
      margin-top: 1.25em;
    }
    #stap-1b {
      display: none;
      background-color: $bg_primary;
      height: 700px;

      h1 {
        color: white;
        margin-bottom: 1em;
      }
    }
}

.stap-2 {
    &__smallTitle {
      color: white;
      font-size: 2.25em;
      margin-top: 1.5em;
    }
    &__bigTitle {
      font-size: 3em;
      color: white;
    }
    &__tempText {
      margin: 2em 0;
      color: white;
    }
    &__icon {
      width: 14em;
      margin-top: 4em;
    }
    &__btn_energy {
        background-color: $bg_primary;
        color: white;
        text-align: center;
        text-decoration: none;
        padding: .75em 1em;
        width: 90%;
        font-size: $font-default_btn_size;
        border-radius: 1.5em;
        border: 2px solid white;

        &:hover {
          text-decoration: none;
          color: white;
        }
    }
    #stap-2b {
      display: none;
      background-color: $bg_primary;
      height: 700px;
    }
}
