/* FONTS
------------------------------------------------------- */
$font-default: 'Open Sans', sans-serif;
$font-default_btn_size: 1.5em;

/* COLORS
------------------------------------------------------- */
$bg_default: #ffffff;
$bg_primary: #8B60B4;
$bg_red: #e74c3c;
$bg_btn_default: #2ecc71;
$bg_btn_default_hover: #27ae60;

$text_green: #27ae60;
