/* FONTS
------------------------------------------------------- */
$font-default: 'Open Sans', sans-serif;

/* COLORS
------------------------------------------------------- */
$bg_default: #ecf0f1;
$text_green: #27ae60;
