.startpagina {
    .container {
        &__main {
            background-color: $bg_default;
            height: 670px;
            text-align: center;
        }
    }
}

.uitleg {
    .container {
        &__main {
          background-color: $bg_primary;
          height: 670px;
          text-align: center;
        }
    }
}

.stap-1 {
    .container {
        &__header {
          background-color: #27ae60;
          color: white;
          text-align: center;
          padding-bottom: 1em;
        }
        &__main {
          background-color: $bg_default;
          height: 670px;
          text-align: center;
        }
    }
}
